[submodule "sources/pronk"]
	path = sources/pronk
	url = https://github.com/pronkproject/pronk.git
[submodule "sources/castkms"]
	path = sources/castkms
	url = https://github.com/pronkproject/castkms.git
[submodule "sources/castkms-renderer"]
	path = sources/castkms-renderer
	url = https://github.com/pronkproject/castkms-renderer.git
[submodule "sources/mutter"]
	path = sources/mutter
	url = https://github.com/pronkproject/mutter.git
[submodule "sources/gnome-control-center"]
	path = sources/gnome-control-center
	url = https://github.com/pronkproject/gnome-control-center.git
[submodule "sources/wireplumber"]
	path = sources/wireplumber
	url = https://gitlab.freedesktop.org/pipewire/wireplumber.git
[submodule "sources/libgnome-volume-control"]
	path = sources/libgnome-volume-control
	url = https://gitlab.gnome.org/GNOME/libgnome-volume-control.git
[submodule "sources/gvdb"]
	path = sources/gvdb
	url = https://gitlab.gnome.org/GNOME/gvdb.git
[submodule "sources/libgxdp"]
	path = sources/libgxdp
	url = https://gitlab.gnome.org/GNOME/libgxdp.git
[submodule "sources/gsettings-desktop-schemas"]
	path = sources/gsettings-desktop-schemas
	url = https://gitlab.gnome.org/GNOME/gsettings-desktop-schemas.git
	branch = 51.0
[submodule "sources/gtk"]
	path = sources/gtk
	url = https://gitlab.gnome.org/GNOME/gtk.git
	branch = 4.23.0
[submodule "sources/accountsservice"]
	path = sources/accountsservice
	url = https://gitlab.freedesktop.org/accountsservice/accountsservice.git
	branch = 26.27.3
[submodule "sources/gnome-desktop"]
	path = sources/gnome-desktop
	url = https://gitlab.gnome.org/GNOME/gnome-desktop.git
	branch = 51.0
[submodule "sources/qrcodegen"]
	path = sources/qrcodegen
	url = https://github.com/nayuki/QR-Code-generator.git
[submodule "sources/accountsservice-compat"]
	path = sources/accountsservice-compat
	url = https://gitlab.freedesktop.org/accountsservice/accountsservice.git
	branch = 23.13.9
